@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');


.Whole {
    display: flex;
    width: auto;
    height: 100%;
    gap: 5rem;
    justify-content: space-around;
    padding-top: 10rem;
    padding-bottom: 15rem;

}

.Sections {
    display: flex;
    gap: 3rem;
    
}

.regbutt {
    padding-top: 4rem;

}

.Sections h1 {
    font-size: 70px;
    flex: 1 1 100px;
    animation: fadeInDown;
    font-family: "Figtree", sans-serif;
    
}

.Sections img {
    max-height: 32rem;

    max-width: 35rem;
    padding-top: 1rem;
    border-radius: 10%;
}

.Sec {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Sec h1 {
    font-size: 3rem;
}


.Sec img {
    width:100%;
    height:auto;
    border-radius: 20%;
    padding: 2rem;
    align-self: center;
}


